@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
    background: linear-gradient(120deg, #e9f4fb, #8c93c0);
    height: 102vh;
    overflow: hidden;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 5%;
    background-color: #8c93c0;
}

nav .heading {
    font-size: 30px;
    padding-top: 24px;
    font-weight: 700;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    margin-top: 26px;
}

nav ul li {
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.2s ease-in;
}

nav ul li a {
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

nav ul li:hover, .active {
    background-color: purple;
}

nav ul li a:hover, .active a:hover {
    color: white;
}

nav .sideMenuButton {
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    display: none;
}

/* responsive navbar css */
@media screen and (max-width: 600px) {
    nav .sideMenuButton {
        display: flex;
    }

    nav .navbar {
        display: none;
    }

    .sideNavigationBar {
        display: block !important;
    }
}

.sideNavigationBar {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0%;
    background-color: purple;
    overflow-x: hidden;
    transition: 0.3s ease-in;
    padding-top: 60px;
    display: none;
}

.sideNavigationBar a {
    padding: 8px 8px 8px 40px;
    display: block;
    font-size: 25px;
    font-weight: 500;
    color: #d1d1d1;
    transition: 0.3s;
    text-decoration: none;
}

.sideNavigationBar a button {
    padding: 10px 20px;
    border-radius: 10px;
    color: purple;
    font-size: 16px;
    border-style: none;
    font-weight: 700;
}

.sideNavigationBar a:hover {
    color: white;
}

.sideNavigationBar .closeButton {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}

@media screen and (max-width: 600px) {
    .sideNavigationBar {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .sideNavigationBar a {
        font-size: 20px;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .sideNavigationBar .closeButton {
        font-size: 40px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    max-width: 400px;
    padding: 2rem;
    background: white;
    border-radius: 10px;
    position: relative;
    left: 37%;
    top: 20%;
}

h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: darkgrey;
}

input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 35px;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color var(--transition);
}

button:hover {
    background-color: #a49f9f;
}

@media (max-width: 768px) {
    .container {
        padding: 1.5rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    label {
        font-size: 0.9rem;
    }

    input {
        padding: 0.7rem;
    }

    button {
        padding: 0.7rem;
        font-size: 0.9rem;
    }
}